@import "~src/assets/scss/config";

.#{$style-prefix}-order {
  padding: 20px;

  &__empty-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;

    b {
      font-size: 20px;
    }

    img {
      height: 150px;
      width: auto;
    }
  }

  &__back {
    width: 100%;
    height: 48px;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__submit-order {
    width: 100%;
    height: 48px;
    font-size: 18px;
    color: #fefefe;
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__card {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    // max-width: 320px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    padding: 15px;
  }

  &__progress-item {
    background-color: #ddd;
    width: 100%;
    height: 8px;
  }

  &__progress-thumb {
    height: 100%;
    width: 0%;
    background-color: $primary;

    &--done {
      background-color: #1cc88a !important;
    }
  }
}
